/* Efeito de entrada de página */
.fade {
    opacity: 0; /* Começa invisível */
    transition: opacity 0.5s ease; /* Transição suave */
}

.fade-in {
    opacity: 1; /* Fica visível */
}
/* Fim de efeito de entrada de página */

body{
    background-color: var(--preto);
}

/* Header */
header {
    width: 90%;
    display: block;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.linkNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

#linkImagemLogo {
    display: flex;
    justify-content: center; /* Center the logo in the link */
    align-items: center; /* Align vertically if necessary */
    width: 8em;
}
#logotipoImage{
    max-width: 100%; /* Ensure it scales properly */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s;
}

#logotipoImage:hover {
    transform: scale(1.3);
}

.linkNav a {
    text-decoration: none;
    color: var(--dourado);
    transition: color 0.3s;
}

.linkNav a:hover {
    color: var(--branco);
}

#linkAboutme{
    text-decoration: underline;
    pointer-events: none;
}

/* Fim header */

/* Inicio main */

/* Section Who am I */
#sectionWho{
    height: 85vh;
    background-image: url();
}
.sections{
    width: 90%;
    display: block;
    margin: auto;
    color: var(--branco);
    height: 100vh;
}

.flexWho{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
#imagemPerfil{
    width: 40%; /* Alterado de 40em para 40% para ser responsivo */
    max-width: 40em; /* Define um limite máximo para a largura */
    height: 80vh; /* Permite que a altura se ajuste automaticamente */
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px var(--laranja);
}
.img-rotate-360 {
    display: inline-block;
    animation: rotate360 5s infinite linear; /* Define a animação para rotacionar em 5 segundos */
}

@keyframes rotate360 {
    0% {
        transform: rotateY(0deg); /* Começa sem rotação */
    }
    100% {
        transform: rotateY(360deg); /* Rotaciona até 360 graus */
    }
}

#nomeDestaque{
    color: var(--laranja);
}
#tituloReach{
    padding-top: 1.5em;
    color: var(--laranja);
}
.flexReach{
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.divReachLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
.divReachLink p{
    margin: 0;
}
.linkReach{
    text-decoration: none;
    color: var(--branco);
    transition: color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 0.5em;
}
.linkReach:hover{
    color: var(--laranja);
}
.iconesReach{
    font-size: 1.5em;
    color: var(--branco);
}
/* Fim Section Who am I  */

/* Inicio section Skills */

/* Remoção das margens e padding do titulo */
.removerMargem {
    margin: 0;
    padding: 0;
}

#skillsSection{
    background-color: var(--azul);
}

.tituloSection{
    color: var(--laranja);
    padding-top: 2em;
}

.posicaoContent{
    display: block;
    width: 80%;
    margin: auto;
}

.gridSkills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 70vh; 
}

.flexIconesSkill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.flexIconesSkill i{
    font-size: 5em;
}

#iconSql{
    width: 8em;
    height: 8em;
}
/* Fim section Skills */

/* Section interest */

#interestsSection{
    width: 100%;
    height: 100vh;
    background-image: url("../imagens/imageConteudo/bkInterest.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 2s ease-in-out; /* Transição suave em 2 segundos */
}


.posicaoInterests{
    display: block;
    margin: auto;
    width: 90%;
}

/* Fim section interests */

/* Section download Cv */

#sectionCV{
    height: 100%;
    width: 100%;
    color: var(--laranja);
    padding: 5em;
}

.cv-btn {
    background-color: var(--preto); 
    color: var(--laranja);              
    padding: 15px 30px;        
    border: 1px solid var(--laranja);              
    border-radius: 5px;        
    cursor: pointer;          
    text-decoration: none;   
    animation: scaleAnimation 2s infinite; /* Chama a animação */
    text-align: center;
    transition: background-color 0.6s, color 0.3s;
}

.cv-btn:hover{
    background-color: var(--laranja);
    color: var(--preto);
}

/* Animação para crescer e diminuir */
@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1); /* Tamanho original */
    }
    50% {
        transform: scale(1.1); /* Aumentar para 110% */
    }
}

.flexCV{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexcv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

/* Fim section download cv */

/* Fim do main */

/* Footer */
footer {
    width: 90%;
    display: block;
    margin: auto;
}

#footerContent{
    margin-bottom: 2em;
}

.flexFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconesFooter {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.iconesFooter i {
    font-size: 1.5em;
    color: var(--branco);
    transition: color 0.3s;
}

.iconesFooter i:hover {
    color: var(--dourado);
}

.scroolDiv {
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#scroll {
    transform: rotate(90deg);
}

.scroolDiv hr {
    height: 100%;
}

/* Fim footer */

/* Media Queries */
@media(max-width: 480px) {
    #logotipoImage {
        width: 5em; /* Smaller logo size */
    }
    .iconesFooter i {
        font-size: 2em; /* Smaller footer icon size */
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #logotipoImage {
        width: 6em; /* Slightly larger logo */
    }
}

@media(min-width: 768px) {
    .linkNav a {
        font-size: 1.25em; /* Changes font size in navigation */
    }
    
    #logotipoImage {
        width: 9em; /* Larger logo size for bigger screens */
    }
    #sectionWho{
        height: 100vh;
    }
    
}

/* media queries */

@media(min-width:768px){
    .linkReach{
        font-size: 1.125em;
    }
}

/* Ajudes da parte do reach me */
@media((min-width:768px) and (max-width:1034px)){
    #tituloReach{
        padding-top: 0.5em;
    }
    .flexReach{
        gap: 1.5em;
    }
}
 /* Remoção da parte do reach me em dispositivos moveis */
@media(max-width:768px){
    #tituloReach, .flexReach{
        display: none;
    }
}

@media((min-width:481px) and (max-width:500px)){
    #sectionWho{
        height: 90vh;
    }
}