body {
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe 100% da altura */
    margin: 0;
    overflow: hidden;
}

/* Header */
header {
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 1em;
    flex-shrink: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

#quoteNav {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 0;
    width: 50%;
}

#quoteNav p{
    margin: 0;
    color: var(--dourado);
}

/* Animação de rotação e crescimento */
@keyframes spin-and-grow {
    0% {
      transform: translate(-50%, -50%) scale(0.5) rotate(0deg); /* Começa pequena e sem rotação */
    }
    100% {
      transform: translate(-50%, -50%) scale(6) rotate(720deg); /* Gira 2 vezes e cresce até 3x maior */
    }
  }
  
  /* Animação de movimento para o canto superior esquerdo após 2s de pausa */
  @keyframes move-to-corner {
    0% {
      transform: translate(-50%, -50%) scale(6) rotate(720deg); /* Mantém o estado final da primeira animação */
    }
    100% {
        top: 1em;
        left: 5%;
        transform: translate(0, 0) scale(1) rotate(720deg); /* Move para o canto e diminui */
    }
  }

#linkImagemLogo {
    display: flex;
    justify-content: center; /* Center the logo in the link */
    align-items: center; /* Align vertically if necessary */
    width: 8em;
    position: absolute;
    top: 50%; /* Começa no centro vertical */
    left: 50%; /* Começa no centro horizontal */
    transform: translate(-50%, -50%) scale(0.5) rotate(0deg); /* Pequena e centralizada no início */
    animation: spin-and-grow 3s ease forwards, move-to-corner 2s ease 3s forwards;/* 'spin-and-grow' ocorre nos primeiros 3 segundos, depois 'move-to-corner' */
    pointer-events: none;
    max-width: 100%;
}
#logotipoImage{
    max-width: 100%; /* Ensure it scales properly */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s;
}
.fade-in {
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 1s ease-in; /* Smooth transition for opacity */
    display: block; /* Make sure it's displayed before fading in */
}

/* Class to show the content */
.fade-in.active {
    opacity: 1; /* Final opacity */
}
#mainContent, #quoteNav, #footerContent{
    display: none;
}

#logotipoImage:hover {
    transform: scale(1.3);
}

/* Fim header */

/* Main */
main {
    width: 60%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: var(--branco);
    min-height: calc(100vh - 40vh); /* Altura mínima flexível */
    min-height: 0;
}

#saudacao {
    display: flex;
    align-items: baseline;
}

#saudacao::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: var(--dourado);
    margin-left: 20px;
}

#nome {
    text-align: center;
    font-size: 3em;
}

#job {
    text-align: end;
}

.flexMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1em;
    justify-content: center;
    color: var(--laranja);
}

.flexMain button {
    background-color: var(--preto);
    border: 1px solid var(--laranja);
    color: var(--laranja);
    padding: 1em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.flexMain button:hover {
    transform: scale(1.5);
}

/* Fim do main */

/* Footer */
footer {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: auto;
}

.flexFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconesFooter {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.iconesFooter i {
    font-size: 1.5em;
    color: var(--branco);
    transition: color 0.3s;
}

.iconesFooter i:hover {
    color: var(--dourado);
}

.scroolDiv {
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#scroll {
    transform: rotate(90deg);
}

.scroolDiv hr {
    height: 100%;
}

/* Fim footer */

/* Media Queries */
@media(max-width: 480px) {
    #logotipoImage {
        max-width: 100%; /* Garante que a imagem nunca ultrapasse os limites */
        height: auto; /* Mantém a proporção */
    }

    #nome {
        font-size: 2.5em; /* Smaller font size */
    }

    .iconesFooter i {
        font-size: 2em; /* Smaller footer icon size */
    }
    #linkImagemLogo {
        width: 6em; /* Reduz a largura da logo */
        transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
        animation: spin-and-grow-small 3s ease forwards, move-to-corner-small 2s ease 3s forwards;
    }
    @keyframes spin-and-grow-small {
        0% {
            transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) scale(3) rotate(720deg); /* Menos crescimento */
        }
    }

    @keyframes move-to-corner-small {
        0% {
            transform: translate(-50%, -50%) scale(3) rotate(720deg);
        }
        100% {
            top: 1em;
            left: 2%;
            transform: translate(0, 0) scale(1) rotate(720deg);
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .flexMain {
        gap: 0.5em; /* Changes spacing in the main section */
    }
    #linkImagemLogo {
        width: 7em; /* Um pouco maior que o tamanho para celulares */
        transform: translate(-50%, -50%) scale(0.4) rotate(0deg);
    }

    #logotipoImage {
        max-width: 100%;
        height: auto;
    }
}

@media(min-width: 768px) {
    #logotipoImage {
        width: 9em; /* Larger logo size for bigger screens */
    }
    
    .flexMain {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em; /* Adjust spacing */
    }
}

@media(max-width:768px){
    #linkImagemLogo {
        transform: translate(-50%, -50%) scale(0.3) rotate(0deg); /* Ajusta a escala inicial para telas menores */
        animation: spin-and-grow-small 3s ease forwards, move-to-corner-small 2s ease 3s forwards; /* Animação diferente para telas menores */
      }
    
      /* Animação ajustada para telas pequenas */
      @keyframes spin-and-grow-small {
        0% {
          transform: translate(-50%, -50%) scale(0.3) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) scale(3) rotate(720deg); /* Cresce menos em telas pequenas */
        }
      }
    
      @keyframes move-to-corner-small {
        0% {
          transform: translate(-50%, -50%) scale(3) rotate(720deg);
        }
        100% {
          top: 1em;
          left: 2%;
          transform: translate(0, 0) scale(1) rotate(720deg); /* Escala final menor */
        }
      }
      body{
        overflow-y: scrool;
        overflow: auto;
      }
    .iconesFooter {
        flex-direction: row;
    }
}

@media(max-width:700px){
    #job{
        text-align: center;
    }
}
