@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    margin: auto;
}
h1, h2, h3 {
    font-weight: normal; 
}
h1{
    font-size: 1.75em; /* 28px */
}
h2{
    font-size: 1.375em; /* 22px */
}
h3{
    font-size: 1.1875em; /* 19px */
}
p{
    font-size: 1em; /* 16px */
}
button, form{
    font-size: 0.875em; /* 14px */
}
/* Para desktop */
@media(min-width: 768px){
    h1{
        font-size: 1.875em; /* 30px */
    }
    h2{
        font-size: 1.5em; /* 24px */
    }
    h3{
        font-size: 1.25em; /* 20px */
    }
    p{
        font-size: 1.125em; /* 18px */
    }
    button, form{
        font-size: 1em; /* 16px */
    }
}
/* Para telas inferiores a 480px*/
@media (max-width: 480px) {
    h1{
        font-size: 1.25em; /* 20px */
    }
    h2{
        font-size: 1em; /* 16px */
    }
    h3{
        font-size: 0.875em; /* 14px */
    }
    p{
        font-size: 0.75em; /* 12px */
    }
    button, form{
        font-size: 0.75em; /* 12px */
    }
}

:root{
    --preto: #0D0D0D;
    --dourado: #F2D479;
    --branco: #FFFFFF; 
    --laranja: #F2A663;
    --castanho: #A66844;
    --azul: #060126;
}